# Text Analytics | BAIS:6100
# Homework 2. Python Basics for Text Processing Part 2

13 questions, 7 points in total

## Honor Code and Policies
#### "I pledge that I will turn in work that is my own and will not share code for this homework with anyone else."

Your full name: Somer Sinnard, Date: 2/23/2023

## Instructions

- Fill in the Python statements needed to complete all the questions below. 
- Program everything inside this notebook. 
- Use only one cell per question. 
- Each code cell must be run with no errors.
- Do not contain any unnecessary code in your answer. (Only the final outcome will be regarded as your answer.)
- If the question requests that you store information in a certain variable, use the specific variables name (case sensitive).
- All problems must be solved in a programmable way.
- When you are done, make sure to save your notebook and then click Restart & Run All before subimission to create a clean version.

## Questions

Import the two modules <b>random</b> and <b>string</b> and re-use the `generate_random_string` function.

In [1]:
import random
import string

def generate_random_string(seq, min_len, max_len):
    return "".join([random.choice(seq) for i in range(random.choice(range(min_len, max_len+1)))])

1\. (0.5 pts) Create a new file `hw2_output.csv` in the `outcome` folder. The first row in the file contains two column names `rid` and `num`. The following 1000 rows contain the following two column values: the first column has row IDs ranging from 1 to 1000 and the second column has strings of 5-10 random digits. Rows are separated by a new line and columns by a comma. For example, the first five rows in the file look as below. (Notice that the numbers below in the second column should be different than yours as they were randomly generated.)

rid,num
1,5494572
2,17654
3,1196825
4,05998

In [2]:
# Your answer here
with open("outcome/hw2_output.csv", mode="w") as fw:
    fw.write("rid,num\n")
    
    for i in range(1000):
        rid = i
        num = generate_random_string(string.digits, 5, 10)
        
        fw.write(f"{rid},{num}\n")

In [3]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
import os
os.path.isfile("outcome/hw2_output.csv")     # Expected output: True

True

Dictionary `d` simply maps each digit character to a puncutation character.

In [4]:
# Make sure to run this cell.
d = {
    "1": "!",
    "2": "@", 
    "3": "#",
    "4": "$",
    "5": "%",
    "6": "^",
    "7": "&",
    "8": "*",
    "9": "(",
    "0": ")", 
}

2\. (0.7 pts) Create a file `hw2_output2.csv` in the `outcome` folder. The first row in the file contains three column names `rid`, `num`, and `code`. The following 1000 rows contain the following three column values: the first column has the same row IDs as above; the second column has strings of random digits with the same rule as above; the third column has code strings, each character of which is the corresponding value for the key in the dictionary `d`. For example, if the random string of digits is '3164482864', its corresponding code string is '#!^\$\$\*@\*^$', as '3' is mapped to '#', '1' is to '!', so on and so forth. Rows are separated by a new line and columns by a comma. For example, the first five rows in the file look as below. (Notice that the numbers and strings below should be different than yours as they were randomly generated.)

rid,num,code
1,3164482864,#!^$$*@*^$
2,2233297733,@@##@(&&##
3,7713718,&&!#&!*
4,373982531,#&#(*@%#!

In [5]:
# Your answer here
with open("outcome/hw2_output2.csv", mode="w") as fw:
    fw.write("rid,num,code\n")
    
    for i in range(1000):
        rid = i
        num = generate_random_string(string.digits, 5, 10)
        for c in num: code = d[c]
        
        fw.write(f"{rid},{num},{code}\n")

In [6]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
os.path.isfile("outcome/hw2_output2.csv")     # Expected output: True

True

<hr>

Import the <b>Pandas</b> package and set the max column width to 150.

In [7]:
import pandas as pd
pd.set_option('display.max_colwidth', 150)

3\. (0.5 pts) Read the `tweets_hashtag_happy.csv` file in the `classdata/tweets` folder into a Pandas dataframe `df`.

In [8]:
# Your answer here
df = pd.read_csv(f"classdata/tweets/tweets_hashtag_happy.csv", sep="\t")

In [9]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
df

,created_at,user_screen_name,user_name,text,is_rt,rt_created_at
0,Fri Jan 01 05:01:18 +0000 2021,WrenthamLions,Wrentham Lions,#Happy New Year - may it be prosperous and healthy for all@WrenthamTimes @WrenthamMATA @kpleo123 @WrenPD‚Ä¶ https://t.co/blp9iRZRmu,0,NaN
1,Fri Jan 01 05:02:44 +0000 2021,jlints58,Jerry Lints,RT @MujahidIslambd: I will promote and share your business with millions of peoplehttps://t.co/HtQtb838bQ#Happy New Year#MF DOOM#Feli‚Ä¶,1,Fri Jan 01 01:52:29 +0000 2021
2,Fri Jan 01 05:04:13 +0000 2021,Divah_Filez,The Divah Filez,#tammyrivera and her daughter #charlie out &amp; about living their best life üòçüòç #mother #daughter #love #beach #happy‚Ä¶ https://t.co/1VqzGOEjGB,0,NaN
3,Fri Jan 01 05:06:45 +0000 2021,Nanada023,Nanada02,RT @Suriya79675998: #happy valentine's day 2020üåπüåπüåπüåπ https://t.co/EvmupTbseg,1,Sat Feb 15 06:00:08 +0000 2020
4,Fri Jan 01 05:11:23 +0000 2021,sectest9,Security Testing,RT @GPS_SecurityCan: Have a safe and Happy New Year #2021 #happy #globalprotectionservice #securityservices #ontarioSecurity #security #gau‚Ä¶,1,Fri Jan 01 05:07:03 +0000 2021
...,...,...,...,...,...,...
61120,Fri Dec 31 23:37:02 +0000 2021,Weston_tyl,Weston,Rainy day. #Weston #LabradorRetriever #dog #happy #blessed #newyear #rain #care #spoiled #thankyou #friends #love‚Ä¶ https://t.co/D7DYLfUyNv,0,NaN
61121,Fri Dec 31 23:38:02 +0000 2021,ceeceestarr,ceecee starr,#happy #f*cking #newyear #2022 #everybody https://t.co/jepIZM7TGY,0,NaN
61122,Fri Dec 31 23:42:45 +0000 2021,rapkhalifa,Mo Hawk Rap Khalifa,"#Happy #NewYear to each and everyone of you. May #2022 be filled with joy, peace and happiness. One Luv. https://t.co/6QGyj2yWjI",0,NaN
61123,Fri Dec 31 23:43:00 +0000 2021,AsgardSoft,AsgardSoft GmbH,RT @PitTheRedPanda: Happy New Yearhttps://t.co/JTSiTRIlxM#AsgardSoft #happy #new #year #2022 #love #music #instagood #art #beautiful #p‚Ä¶,1,Fri Dec 31 23:42:49 +0000 2021
61124,Fri Dec 31 23:46:47 +0000 2021,AliyevaMeftune,eva,Happy new years#üíû#ü•≥ #üéâ #üéä #happynewyear #happy #instagood #instagram #happy2022 #noel #merrychristmas #art #newpost‚Ä¶ https://t.co/QEnxtL4AVG,0,NaN

4\. (0.5 pts) Select from `df` the element at row index position 100 and in the `created_at` column and then save it in the variable `ans4`.

In [10]:
# Your answer here
ans4 = df["created_at"][100]

In [11]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans4

'Fri Jan 01 09:31:13 +0000 2021'

5\. (0.5 pts) Select, from `df`, the rows with its `is_rt` column value being 0 (i.e. select only the normal tweets) and then, from the selected dataframe, create a random sample of 10 rows without duplicates. Set `random_state` to 0 when sampling. Save the final dataframe in the variable `ans5`.

In [12]:
# Your answer here
normal_tweets = df[df.is_rt == 0]
ans5 = normal_tweets.sample(n=10, replace=False, random_state=0)

In [13]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans5

,created_at,user_screen_name,user_name,text,is_rt,rt_created_at
27775,Sun Jun 20 19:58:23 +0000 2021,coco_poof,Coco Poof,Everyone Wants A Dog Until.... (Funny) https://t.co/d2akKrpb2k #cute #love #instagood #beautiful #like #happy‚Ä¶ https://t.co/8spxRGUbXx,0,NaN
49376,Sat Oct 23 03:02:09 +0000 2021,aespresso_SM,aespresso #Savage (slow),[trans] 211023 Ningning Vlive updateTitle: #HAPPY NINGNING DAYüéâHappy Birthday NINGNINGüéÇHappy birthdayü¶ã‚Ä¶ https://t.co/4TyE6ig480,0,NaN
45595,Wed Sep 29 02:18:52 +0000 2021,resilientme,ResilientMe,You got this!#family #fall #coming #update #spirit #stressmanagement #summer #taxcredit #thanks #happy https://t.co/qDjjaUgs7V,0,NaN
55225,Thu Nov 25 15:20:48 +0000 2021,GolfWx,GolfWorkx,Happy Thanksgiving!..#Thanksgiving #happy #golf #tennislife https://t.co/W223bQS1b7,0,NaN
43446,Tue Sep 14 19:37:04 +0000 2021,flaten_cody,Cody,You‚Äôre my favorite people üòÅ‚ù§Ô∏è#happy #love,0,NaN
44743,Thu Sep 23 14:03:50 +0000 2021,FayeWearsATiara,Faye Flores-Navarro üëë,"7 years in 3 days. Being your wife is nothing but pure bliss, Mahal ko! ü•∞üòò‚ù§‚ú®#Happy #Blessed #Loved https://t.co/4ZGwM6DkMn",0,NaN
4271,Thu Jan 28 19:24:14 +0000 2021,prettyboutique7,pretty.boutique,Women Bag Brand Designer Handbag Tassel Crossbody Shoulder Bags Ladies Purse Bolsa#amazing #happy‚Ä¶ https://t.co/8Me5wzk1cC,0,NaN
22527,Mon May 17 14:46:47 +0000 2021,Fritzde357,Tim DeAngelis,#dogecoin #Crypto #SpaceX #dogearmy #doge4weed #doge4alcohol. Be #happy #healthy #ShibaCoin #dogecoin #Cardano‚Ä¶ https://t.co/Ie2BHDj8ZJ,0,NaN
31870,Mon Jul 19 06:06:20 +0000 2021,amandakipman,Amanda Kipman,Hiking the Red Valley and White Valley‚Ä¶ #latergram #hiking #hikingadventures #vacation #fun #happy #cappadocia‚Ä¶ https://t.co/kgJx6cSg9F,0,NaN
42460,Fri Sep 10 11:33:37 +0000 2021,Thannambikkai_v,#thannambikkai_varigal,Daily Quotes#thannambikkai_varigal #successquotes #motivationalquotes #motivation #happy https://t.co/AnrEAkQVJ4,0,NaN

6\. (0.5 pts) Select the first 15 values from the `created_at` column of `df` and print only the HH:MM:SS part in each value, where H denotes each digit in an hour, M each digit in a minute, and S each digit in a second. Rows in the printed output are separated by a new line. For example, the first three rows in the printed output must look the same as below:

05:01:18
05:02:44
05:04:13

In [14]:
# Your answer here

for row in df.created_at[:15]:
    print(row[11:19])

05:01:18
05:02:44
05:04:13
05:06:45
05:11:23
05:12:29
05:16:56
05:20:44
05:21:07
05:22:36
05:25:43
05:31:30
05:33:39
05:41:04
05:41:09

7\. (0.5 pts) Select the first 15 rows from `df` and print the values in each row in the following format: '\[TYPE\]  TEXT' where TYPE is either '*Tweet*' if the `is_rt` column value equals 0 or '*Retweet*' if 1, and TEXT is the `text` column value. Rows are separated by two new lines. For example, the printed output for the first three rows must look the same as below:

[Tweet] #Happy New Year - may it be prosperous and healthy for all@WrenthamTimes @WrenthamMATA @kpleo123 @WrenPD‚Ä¶ https://t.co/blp9iRZRmu

[Retweet] RT @MujahidIslambd: I will promote and share your business with millions of peoplehttps://t.co/HtQtb838bQ#Happy New Year#MF DOOM#Feli‚Ä¶

[Tweet] #tammyrivera and her daughter #charlie out &amp; about living their best life üòçüòç #mother #daughter #love #beach #happy‚Ä¶ https://t.co/1VqzGOEjGB

In [15]:
# Your answer here

for idx, row in df[:15].iterrows():
    if row.is_rt == 0:
        TYPE = "Tweet"
    else:
        TYPE = "Retweet"
    text = row.text
    
    print(f"[{TYPE}] {text}\n")

[Tweet] #Happy New Year - may it be prosperous and healthy for all@WrenthamTimes @WrenthamMATA @kpleo123 @WrenPD‚Ä¶ https://t.co/blp9iRZRmu

[Retweet] RT @MujahidIslambd: I will promote and share your business with millions of peoplehttps://t.co/HtQtb838bQ#Happy New Year#MF DOOM#Feli‚Ä¶

[Tweet] #tammyrivera and her daughter #charlie out &amp; about living their best life üòçüòç #mother #daughter #love #beach #happy‚Ä¶ https://t.co/1VqzGOEjGB

[Retweet] RT @Suriya79675998: #happy valentine's day 2020üåπüåπüåπüåπ https://t.co/EvmupTbseg

[Retweet] RT @GPS_SecurityCan: Have a safe and Happy New Year #2021 #happy #globalprotectionservice #securityservices #ontarioSecurity #security #gau‚Ä¶

[Tweet] ‚ú®üíôNew Year's Eve 2021üíú‚ú®.........#happy #blessed #instagood #instatravel #instadaily #instapic #instamood‚Ä¶ https://t.co/P5oDJEQ1Zr

[Tweet] Happy new year all ü•≥#NewYear2021 #happy #love #Hello2021 #2021makeawish #Bye2020 https://t.co/0vR9V5GusR

[Retweet] RT @SUNtravelgal: Ahh ... last #sunset of #2020 #happy #NewYearsEve #byron #ldnont #forestcity #nature #outdoors #photography https://t.co/‚Ä¶

[Tweet] #Happy New Year!

[Tweet] # HAPPY NEW YEAR 2021 #Happy New Year #New Year Bargain 1/1 (Friday) -The ‚ÄúPiccoma Lucky Bag‚Äù event where you can g‚Ä¶ https://t.co/8vpSU7JGDw

[Tweet] Last selfie of the year... ü§óGood bye 2020.......#LastPic ##NewYear #Me #Happy #JustMe #GoodBye2020‚Ä¶ https://t.co/XxPtuuUPlu

[Tweet] happy new year 2021, burning the old for a fresh start! #newyear #2021 #keepmovingforward #love #light #happy‚Ä¶ https://t.co/CQhB1Jmc57

[Tweet] @EObsidian Happy new #happy

[Retweet] RT @mamaafrikan: Pastor Chris new year eve rant - ‚Äúdon‚Äôt criticise pastors‚Äù  #dangote Amen #HAPPYNEWYEAR #happy dangote welcome to 2021 htt‚Ä¶

[Retweet] RT @ScrupulousTech: Scrupulous Technology Develop a Website and Mobile App Since 2013. #happy #new #year #2021 #website #app #design #love‚Ä¶

8\. (0.5 pts) Add a new column `num_words` to `df` such that each value in the column is the number word tokens in the `text` column value. (Use the <b>split</b> method to get a list of word tokens in a string).

In [16]:
# Your answer here

df["num_words"] = df.text.apply(lambda x: len(x.split()))

In [17]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
df[["text", "num_words"]]

,text,num_words
0,#Happy New Year - may it be prosperous and healthy for all@WrenthamTimes @WrenthamMATA @kpleo123 @WrenPD‚Ä¶ https://t.co/blp9iRZRmu,16
1,RT @MujahidIslambd: I will promote and share your business with millions of peoplehttps://t.co/HtQtb838bQ#Happy New Year#MF DOOM#Feli‚Ä¶,16
2,#tammyrivera and her daughter #charlie out &amp; about living their best life üòçüòç #mother #daughter #love #beach #happy‚Ä¶ https://t.co/1VqzGOEjGB,19
3,RT @Suriya79675998: #happy valentine's day 2020üåπüåπüåπüåπ https://t.co/EvmupTbseg,7
4,RT @GPS_SecurityCan: Have a safe and Happy New Year #2021 #happy #globalprotectionservice #securityservices #ontarioSecurity #security #gau‚Ä¶,16
...,...,...
61120,Rainy day. #Weston #LabradorRetriever #dog #happy #blessed #newyear #rain #care #spoiled #thankyou #friends #love‚Ä¶ https://t.co/D7DYLfUyNv,15
61121,#happy #f*cking #newyear #2022 #everybody https://t.co/jepIZM7TGY,6
61122,"#Happy #NewYear to each and everyone of you. May #2022 be filled with joy, peace and happiness. One Luv. https://t.co/6QGyj2yWjI",20
61123,RT @PitTheRedPanda: Happy New Yearhttps://t.co/JTSiTRIlxM#AsgardSoft #happy #new #year #2022 #love #music #instagood #art #beautiful #p‚Ä¶,15
61124,Happy new years#üíû#ü•≥ #üéâ #üéä #happynewyear #happy #instagood #instagram #happy2022 #noel #merrychristmas #art #newpost‚Ä¶ https://t.co/QEnxtL4AVG,15

9\. (0.7 pts) Add a new column `text_date` to `df` such that each column value is a string in the format 'TEXT \[posted on b DD, YYYY\]', where TEXT is the first 50 characters in the `text` column value concatenated by '...'; b denotes the the abbreviated month name such as Jan and Feb; D denotes each digit in a day; Y denotes each digit in a year, all of which come from the `created_at` column value. For example, the first and last values in the new column must look the same as below, respectively. You may need to define a user defined function to add the new column.

#Happy New Year - may it be prosperous and healthy... [posted on Jan 01, 2021]

Happy new years#üíû#ü•≥ #üéâ #üéä #happynewyear #happy #in... [posted on Dec 31, 2021]

In [18]:
# Your answer here
def extract(row):
    text = row.text[:50]+"..."
    b = row.created_at[4:7]
    DD = row.created_at[8:10]
    YYYY = row.created_at[-4:]
    
    return f"{text}[posted on {b} {DD}, {YYYY}]"
    
df["text_date"] = df.apply(lambda x: extract(x), axis = 1)

In [19]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
df[["text", "created_at", "text_date"]]

,text,created_at,text_date
0,#Happy New Year - may it be prosperous and healthy for all@WrenthamTimes @WrenthamMATA @kpleo123 @WrenPD‚Ä¶ https://t.co/blp9iRZRmu,Fri Jan 01 05:01:18 +0000 2021,"#Happy New Year - may it be prosperous and healthy...[posted on Jan 01, 2021]"
1,RT @MujahidIslambd: I will promote and share your business with millions of peoplehttps://t.co/HtQtb838bQ#Happy New Year#MF DOOM#Feli‚Ä¶,Fri Jan 01 05:02:44 +0000 2021,"RT @MujahidIslambd: I will promote and share your ...[posted on Jan 01, 2021]"
2,#tammyrivera and her daughter #charlie out &amp; about living their best life üòçüòç #mother #daughter #love #beach #happy‚Ä¶ https://t.co/1VqzGOEjGB,Fri Jan 01 05:04:13 +0000 2021,"#tammyrivera and her daughter #charlie out &amp; a...[posted on Jan 01, 2021]"
3,RT @Suriya79675998: #happy valentine's day 2020üåπüåπüåπüåπ https://t.co/EvmupTbseg,Fri Jan 01 05:06:45 +0000 2021,"RT @Suriya79675998: #happy valentine's day 2020üåπüåπüåπ...[posted on Jan 01, 2021]"
4,RT @GPS_SecurityCan: Have a safe and Happy New Year #2021 #happy #globalprotectionservice #securityservices #ontarioSecurity #security #gau‚Ä¶,Fri Jan 01 05:11:23 +0000 2021,"RT @GPS_SecurityCan: Have a safe and Happy New Yea...[posted on Jan 01, 2021]"
...,...,...,...
61120,Rainy day. #Weston #LabradorRetriever #dog #happy #blessed #newyear #rain #care #spoiled #thankyou #friends #love‚Ä¶ https://t.co/D7DYLfUyNv,Fri Dec 31 23:37:02 +0000 2021,"Rainy day. #Weston #LabradorRetriever #dog #happy ...[posted on Dec 31, 2021]"
61121,#happy #f*cking #newyear #2022 #everybody https://t.co/jepIZM7TGY,Fri Dec 31 23:38:02 +0000 2021,"#happy #f*cking #newyear #2022 #everybody https:...[posted on Dec 31, 2021]"
61122,"#Happy #NewYear to each and everyone of you. May #2022 be filled with joy, peace and happiness. One Luv. https://t.co/6QGyj2yWjI",Fri Dec 31 23:42:45 +0000 2021,"#Happy #NewYear to each and everyone of you. May #...[posted on Dec 31, 2021]"
61123,RT @PitTheRedPanda: Happy New Yearhttps://t.co/JTSiTRIlxM#AsgardSoft #happy #new #year #2022 #love #music #instagood #art #beautiful #p‚Ä¶,Fri Dec 31 23:43:00 +0000 2021,"RT @PitTheRedPanda: Happy New Yearhttps://t.co/JTS...[posted on Dec 31, 2021]"
61124,Happy new years#üíû#ü•≥ #üéâ #üéä #happynewyear #happy #instagood #instagram #happy2022 #noel #merrychristmas #art #newpost‚Ä¶ https://t.co/QEnxtL4AVG,Fri Dec 31 23:46:47 +0000 2021,"Happy new years#üíû#ü•≥ #üéâ #üéä #happynewyear #happy #in...[posted on Dec 31, 2021]"

10\. (0.5 pts) Add a new column `mention_year` to `df` such that each column value is either True if the `text` column value contains the word '*year*' (case-insensitive) or False otherwise. For example, the first value in the new column must be True, as the text does contain the word '*Year*', whereas the third value must be False, as the text does not have the word.

In [20]:
# Your answer here

df["mention_year"] = df.text.apply(lambda x: True if ("year" in x.lower()) else False)

In [21]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
df[["text", "mention_year"]]

,text,mention_year
0,#Happy New Year - may it be prosperous and healthy for all@WrenthamTimes @WrenthamMATA @kpleo123 @WrenPD‚Ä¶ https://t.co/blp9iRZRmu,True
1,RT @MujahidIslambd: I will promote and share your business with millions of peoplehttps://t.co/HtQtb838bQ#Happy New Year#MF DOOM#Feli‚Ä¶,True
2,#tammyrivera and her daughter #charlie out &amp; about living their best life üòçüòç #mother #daughter #love #beach #happy‚Ä¶ https://t.co/1VqzGOEjGB,False
3,RT @Suriya79675998: #happy valentine's day 2020üåπüåπüåπüåπ https://t.co/EvmupTbseg,False
4,RT @GPS_SecurityCan: Have a safe and Happy New Year #2021 #happy #globalprotectionservice #securityservices #ontarioSecurity #security #gau‚Ä¶,True
...,...,...
61120,Rainy day. #Weston #LabradorRetriever #dog #happy #blessed #newyear #rain #care #spoiled #thankyou #friends #love‚Ä¶ https://t.co/D7DYLfUyNv,True
61121,#happy #f*cking #newyear #2022 #everybody https://t.co/jepIZM7TGY,True
61122,"#Happy #NewYear to each and everyone of you. May #2022 be filled with joy, peace and happiness. One Luv. https://t.co/6QGyj2yWjI",True
61123,RT @PitTheRedPanda: Happy New Yearhttps://t.co/JTSiTRIlxM#AsgardSoft #happy #new #year #2022 #love #music #instagood #art #beautiful #p‚Ä¶,True
61124,Happy new years#üíû#ü•≥ #üéâ #üéä #happynewyear #happy #instagood #instagram #happy2022 #noel #merrychristmas #art #newpost‚Ä¶ https://t.co/QEnxtL4AVG,True

<hr>

Import the <b>re</b> module to use regular expressions.

In [22]:
import re

String `html` contains some HTML code.

In [23]:
# Make sure to run this cell.
html = '<!DOCTYPE html><html><body><h2>HTML Images</h2><p>HTML images are defined with the img tag:</p><img src="w3schools.jpg" alt="W3Schools.com" width="104" height="142"></body></html>'
html

'<!DOCTYPE html><html><body><h2>HTML Images</h2><p>HTML images are defined with the img tag:</p><img src="w3schools.jpg" alt="W3Schools.com" width="104" height="142"></body></html>'

11\. (0.5 pts) An HTML element starts with the `<html>` tag and ends with `</html>` tag. Using a regular expression, get a list of strings containing the HTML element in `html` and save the resulting list in the variable `ans11`. The list must look the same as below:

['<html><body><h2>HTML Images</h2><p>HTML images are defined with the img tag:</p><img src="w3schools.jpg" alt="W3Schools.com" width="104" height="142"></body></html>']

In [24]:
# Your answer here
#</html>
ans11 = re.findall("<html>[\w\s<>/=:\"\.]+</html>", html)

In [25]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans11

['<html><body><h2>HTML Images</h2><p>HTML images are defined with the img tag:</p><img src="w3schools.jpg" alt="W3Schools.com" width="104" height="142"></body></html>']

12\. (0.6 pts) A P element starts with the `<p>` tag and ends with `</p>` tag. Using a regular expression, get a list of strings containing only the text part between the start tag and the end tag in `html` and save the resulting list in the variable `ans12`. The list must look the same as below:

['HTML images are defined with the img tag:']

In [26]:
# Your answer here

ans12 = re.findall("<p>([\w\s:]+)</p>", html)

In [27]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans12

['HTML images are defined with the img tag:']

String `text` contains several email addresses in it.

In [28]:
# Make sure to run this cell.
text = "If you have any questions, please contact any of the following session organizers:\n\n\
Roy Barnes, rcbarnes@umich.edu\n\
Josh Murray, josh.murray@vanderbilt.edu\n\
Tarun Banerjee, tarunbanerjee@pitt.edu\n\
Eelke Heemskerk, E.M.Heemskerk@uva.nl\n\
Mohamed Oubenal, oubenal1@gmail.com\n\n\
If you have any problems with the system please do not hesitate to contact info@data-mining-forum.de.\n\n\
We look forward to seeing you in Paris!"

print(text)

If you have any questions, please contact any of the following session organizers:

Roy Barnes, rcbarnes@umich.edu
Josh Murray, josh.murray@vanderbilt.edu
Tarun Banerjee, tarunbanerjee@pitt.edu
Eelke Heemskerk, E.M.Heemskerk@uva.nl
Mohamed Oubenal, oubenal1@gmail.com

If you have any problems with the system please do not hesitate to contact info@data-mining-forum.de.

We look forward to seeing you in Paris!

13\. (0.5 pts) Using a regular expression, get a list of strings containing all the email addresses in `text` and save the resulting list in the variable `ans13`. The list must contain all six email addresses as follows:

['rcbarnes@umich.edu',
 'josh.murray@vanderbilt.edu',
 'tarunbanerjee@pitt.edu',
 'E.M.Heemskerk@uva.nl',
 'oubenal1@gmail.com',
 'info@data-mining-forum.de']

In [29]:
# Your answer here
ans13 = re.findall(pattern="[a-zA-Z0-9\.]+@[a-z\.-]+", string=text)

In [30]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans13

['rcbarnes@umich.edu',
 'josh.murray@vanderbilt.edu',
 'tarunbanerjee@pitt.edu',
 'E.M.Heemskerk@uva.nl',
 'oubenal1@gmail.com',
 'info@data-mining-forum.de.']

### Now that you have completed all the questions, click Kernel > Restart & Run All to creat a clean version of this notebook and check if all cells have run as expected.

## Quick Survey

How long did it take you to complete this homework? (This will not affect your score. Your answer will be very helpful for the instructor to design homewoks and exams. Thank you!)

: 240 minutes